* {
    padding: 0;
    margin: 0;
}
.main{
    background: none;
    font-family: sans-serif;

}
#section {
        background: url(a.jpg)  no-repeat  center top;
    width: 100%;
    height: 200px;
   
}
#section h2{text-align: center;font-size: 60px;     width: 1050px;
    margin: 0 auto;
    color: #f2f2f2;
    opacity: 0.74;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 71px;
}
#section1 {
    top:80px;
    position: relative;
        background: url(a.jpg)  no-repeat  center top;
    width: 100%;
    height: 550px;
   
}
#section1 h2{text-align: center;font-size: 60px;     width: 1050px;
    margin: 0 auto;
    color: #f2f2f2;
    opacity: 0.74;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 71px;
}
#section1 p{text-align: center;font-size: 40px; color: #f2f2f2; opacity: 0.74;}
#sectionm p{text-align: center;    font-size: 30px; color: black;}
#sectionm h2{text-align: center;font-size: 40px;}
#section2 {
    
     width: 100%;
     height: 500px;
      background:black;
      color:white;      
    
}
#section2 h2{text-align:center; font-size: 50px; padding: 40px;}
nav {background-color:  #4CAF50; width: 150px; height: 50px; position: relative; left: 600px; list-style: none; border-radius: 30px;}
nav ul li {list-style: none;  }
nav ul li a {text-decoration: none; color: white;  position: relative;
    left: 30px; top:15px;}
~
#sectionm {
    color: black;
      background: white;

}
section {background-color:black; width: 100%; position: fixed;top:0;}
section ul li{display: inline-block; padding: 30px; background-color: black;}
section ul li a{

    text-decoration: none;
    color: white;
    display: inline-block;
    list-style: none;
}
section ul li:hover {
    background-color: #4CAF50 ;
}

img {

    position: relative;
    left: 350px;
    width: 150px;
    height: 150px;
  padding: 30px; 
  background-size:  inherit;
background-color: rgba(0,0,0,0.7);
border-radius: 100px;

}
h1{color: white;}

img:hover{
    width: 300px;
    height: 300px;
    border-radius: 200px;
}


input[type=text], select, textarea {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
/*    resize: vertical;*/
position: relative;
left: 250px;
}

input[type=submit] {
     position: relative;
    top: 100px;
    left: -300px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


